body{
 background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0; 
  height: 100vh;
}

.indicators * {
 transition: all 0.4s ease-in-out;
}

.fix-height {
 min-height: 200px;
}
.container
{
        background-color: #FAF9FE;
        border-radius: 20px;
        margin: auto;
        padding: auto;
        width: 80%; 
        max-width: 800px; 
        box-shadow: 0, 0, 20px black;
     
        }

.steps {
 position: absolute;
 width: 0;
 height: 100%;
 top: 0;
 left: 0;
 z-index: -1;
 visibility: hidden;
 opacity: 0;
 transition: all 0.4s ease-in-out;
}

.steps.active {
 width: 100%;
 z-index: 1;
 visibility: visible;
 opacity: 1;
 transition: all 0.4s ease-in-out;
}
form {
        padding: 20px;
      }

      .form-control {
        border: 2px solid #ced4da;
        border-radius: 8px;
        padding: 10px;
        font-size: 1rem;
        transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        height: 40px;
      }

.form-control:focus {
        border-color: #343434; 
        box-shadow: 0 0 8px rgba(220, 53, 69, 0.3); 
        outline: none;
      }
      
      select.form-control {
        
        

      }
      
      /* Textarea styling */
      textarea.form-control {
        resize: vertical; /* Allows vertical resizing only */
        border: 2px solid #ced4da;
        border-radius: 8px;
        padding: 10px;
        transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
      }
/* animation for input boxes */

.form-control.invalid {
 border: 1px solid #ec2626;
 /* paste any animation you want */
 -webkit-animation: shaking 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
         animation: shaking 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
 transform: translate3d(0, 0, 0);
 -webkit-backface-visibility: hidden;
         backface-visibility: hidden;
 perspective: 1000px;
 transition: all 0.4s ease-in-out;
}

@-webkit-keyframes shaking {
 10%,
 90% {
  transform: translate3d(-2px, 0, 0);
 }
 20%,
 80% {
  transform: translate3d(4px, 0, 0);
 }
 30%,
 50%,
 70% {
  transform: translate3d(-8px, 0, 0);
 }
 40%,
 60% {
  transform: translate3d(8px, 0, 0);
 }
}

@keyframes shaking {
 10%,
 90% {
  transform: translate3d(-2px, 0, 0);
 }
 20%,
 80% {
  transform: translate3d(4px, 0, 0);
 }
 30%,
 50%,
 70% {
  transform: translate3d(-8px, 0, 0);
 }
 40%,
 60% {
  transform: translate3d(8px, 0, 0);
 }
}

.hidden {
 opacity: 0;
 visibility: hidden;
 pointer-events: none;
 transition: all 0.4s ease-in-out;
}

.show {
 opacity: 1;
 visibility: visible;
 pointer-events: auto;
 transition: all 0.4s ease-in-out;
}
.btnPrev, .btnNext
{
        margin-top: 80px;
}

@media screen and (min-width: 768px) {
 .fix-height {
  min-height: 100px;
 }
}